.menu {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin-bottom: 30px;
	border-bottom: $menu-border-width solid $menu-border-color;
	box-shadow: $menu-box-shadow;
	//prettier-ignore
	>.menu-item {
		padding: $menu-item-padding-y $menu-item-padding-x;
		cursor: pointer;
		transition: $menu-transition;
		&:hover,
		&:focus {
			text-decoration: none;
		}
		&.is-disabled {
			color: $menu-item-disabled-color;
			cursor: default;
			pointer-events: none; //元素永远不会成为鼠标事件的target
		}
		&.is-actived,
		&:hover {
			color: $menu-item-active-color;
			border-bottom: $menu-item-active-border-width solid
				$menu-item-active-color;
		}
	}
	.submenu-item {
		position: relative;
		.submenu-title {
      display: flex;
      align-items: center;
      .arrow-icon {
        margin-left: 3px;
        transition: transform .3s ease-in;
      }
      &:hover {
        .arrow-icon {
          transform: rotate(180deg);
        }
      }
      
		}
	}
	.submenu {
    // display: none; //设置了display 动画就不会生效 但opacity与display:none;又不一样，display:none是不在DOM元素中,如果仍然会有该特性，就要用到react transition
    // opacity: 0;
		list-style: none;
		padding-left: 0;
		white-space: nowrap;
    // transition: opacity 5s ease;
		.menu-item {
			padding: $menu-item-padding-y $menu-item-padding-x;
			cursor: pointer;
			transition: $menu-transition;
			color: $body-color;
			&.is-active,
			&:hover {
				color: $menu-item-active-color !important;
			}
		}
		// &.is-opened {
		// 	display: block;
    //   // opacity: 1;
		// }
	}
  .is-vertical {
    .arrow-icon {
      transform: rotate(0deg) !important;
    }
  }
  .is-vertical.is-opened {
    .arrow-icon {
      transform: rotate(180deg) !important;
    }
  }
}
.menu-horizontal {
	//prettier-ignore
	>.menu-item {
		border-bottom: $menu-item-active-border-width solid transparent;
	}
	.submenu {
		position: absolute;
		background: $white;
		z-index: 100;
		top: calc(100% + 8px);
		left: 0;
		border: $menu-border-width solid $menu-border-color;
		box-shadow: $submenu-box-shadow;
	}
}
.menu-vertical {
	flex-direction: column;
	border-bottom: none;
	border-right: $menu-border-width solid $menu-border-color;
	margin: 20px 30px;
	//prettier-ignore
	>.menu-item {
		border-left: $menu-item-active-border-width solid transparent; //为了防止鼠标移到元素上抖动，设置为transparent就不可见了
		&.is-actived,
		&:hover {
			border-bottom: none;
			border-left: $menu-item-active-border-width solid $menu-item-active-color;
		}
	}
}
